.profile-card-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-card-avatar {
  width: 60px;
  height: 60px;
  background: var(--ion-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card-avatar ion-icon {
  font-size: 48px;
  color: var(--ion-color-primary-contrast);
}

